.heading{
font-size: 23px;
width: 100%;
margin:0px;
box-shadow: 5px 5px 5px azure;
}
.NOTE{
font-size: 15px;
color: blanchedalmond;
}
.copy_right_footer{
position :fixed;
color: whitesmoke;
bottom: 0;
width: 100%;
background-color: turquoise;
text-align:center;
line-height: 3;
}
canvas{
border: 5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px darkgreen;
}